<div class="flex w-full h-[100vh]">
    <div id="maps" class="w-2/3 h-full relative">
        <form class="absolute z-50 right-0">
            <input type="file" (change)="arquivoSelecionado($event)" #fileUpload>
        </form>

        <!-- TODO: Adicionar checkboxs -->
        <ng-container *ngFor="let polygon of polygonsLatLng">
            <mat-checkbox
                color="primary"
                [checked]="true"
                [class]="''"
                [disabled]="false"
                (change)="ativaDesativaPolygon($event, polygon.nome)"
                class="text-xs">
                {{ polygon.nome }}
            </mat-checkbox>
        </ng-container>

        <google-map
            height="100%"
            width="100%"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="criarMarker($event)"
            (mapInitialized)="initMap($event)"
        >
        </google-map>
    </div>
    <div class="bg-red-500 h-full w-1/3">
        <app-editor-codigo [classes]="'w-full h-full'"></app-editor-codigo>
    </div>
</div>
